body {
  /*background-color: maroon;*/
  color: black;
  background: linear-gradient(#000000 30%, #000000 70%);
  height: 70%;
}
  
.container {
  margin-top: 40px;
  padding-top: 0px;
  padding-left: 0px;
  width: 600px;
  height: 400px;
  border: 2px dashed gold;
  border-radius: 2em;
  box-shadow: 0 1px 10px 2px white;
}
img {
  border-radius: 2em;
  width: 595px;
  height: 250px;
  
}
h1 {
  color: #DAA520;
  text-align: center;
  padding-bottom: 2px;
  font-family: 'Lora', serif;
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}
h2 {
  color: #DAA520;
  text-align: center;
  padding-bottom: 7px;
  font-family: 'Lora', serif;
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
}
h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 2px;
  color: #DAA520;

}

hr {
  width: 350px;
  margin-top: 20px;
  border-width: 0 0 0px 0;
  border-top: 2px dashed gold;
  text-shadow: white;
  box-shadow: 0 1px 10px 2px white;
  margin-top: 20px;
}

p {
  color: white;
  font-family: 'Lora', serif;
  font-size: 17px;
  padding-top: 2px;
  text-align: justify;
  text-align: center;
}
.gospel p {
  color: #DAA520;
  font-weight: bold;
  

}
#not {
  color: white;
  font-weight: bold;
}
h3 {
  padding-top: 15px;
}
h4 {
  font-weight: bold;
}

h5 {
  background-color: black;
  color: #DAA520;
  float: right;
  bottom: 0;
  right: 0;
  font-weight: bold;
  border-radius: 1em;
}
article {
  font-weight: bold;
  color: #DAA520;
}
.container > p {
  color: #DAA520;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding-top: 37px;
}

