body {
  background-color: maroon;
}

.container {
  margin-top: 70px;
  padding-top: 7px;
  width: 700px;
  height: 380px;
  border: 2px solid #3F0C1F;
  box-shadow: 0 1px 10px 1px #cccccc;
}

h1 {
  color: yellow;
  text-align: center;
  padding-bottom: 7px;
  font-family: 'Lora', serif;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 1px 6px 1px black;
  text-transform: uppercase;
}

hr {
  width: 250px;
  margin-top: 40px;
  border-width: 0 0 0px 0;
  border-top: 2px dashed yellow;
}

p {
  color: white;
  font-family: 'Lora', serif;
  font-size: 17px;
  padding-top: 2px;
  text-align: justify;
  text-align: center;
  width: 640px;
}

/*#word > p:nth-child(3) {
  color: white;
  width: 500px;
  font-size: 12px;
}*/

span, #chri, #mix, #pass, #feast {
  color: yellow;
  font-weight: bold;
}
#messenger p {
  font-size: 14px;
  text-align: center;
  padding-bottom: 2px;
}
.glyphicon {
  top: 12px;
  padding-bottom: 2px;
  font-size: 37px;
  color: yellow;
  text-align: center;
}